{% extends "::base.html.twig" %}

{% block body %}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2 class="text-center">Register</h2>
        </div>
        <div class="panel-body">
            {{ form(form, {
                'attr': {
                    'action': path('register')
                }
            }) }}
        </div>
    </div>
{% endblock %}